.loadingContainer {
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 10vw
}

.loadingTitle {
  font-weight: 600;
  font-size: 2rem;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 10vw;
    height: 10vw;
  }
  .lds-grid div {
    position: absolute;
    width: 2vw;
    min-width: 16px;
    height: 2vw;
    min-height: 16px;
    border-radius: 50%;
    background: rgb(134, 134, 134);
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 1vw;
    left: 1vw;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 1vw;
    left: 4vw;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 1vw;
    left: 7vw;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 4vw;
    left: 1vw;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 4vw;
    left: 4vw;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 4vw;
    left: 7vw;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 7vw;
    left: 1vw;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 7vw;
    left: 4vw;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 7vw;
    left: 7vw;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

@media only screen and (max-width: 630px) {
  .lds-grid {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-grid div {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: rgb(134, 134, 134);
      animation: lds-grid 1.2s linear infinite;
    }
    .lds-grid div:nth-child(1) {
      top: 8px;
      left: 8px;
      animation-delay: 0s;
    }
    .lds-grid div:nth-child(2) {
      top: 8px;
      left: 32px;
      animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(3) {
      top: 8px;
      left: 56px;
      animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(4) {
      top: 32px;
      left: 8px;
      animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(5) {
      top: 32px;
      left: 32px;
      animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(6) {
      top: 32px;
      left: 56px;
      animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(7) {
      top: 56px;
      left: 8px;
      animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(8) {
      top: 56px;
      left: 32px;
      animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(9) {
      top: 56px;
      left: 56px;
      animation-delay: -1.6s;
    }
    @keyframes lds-grid {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
    }
} 